njc-wma-document-envelope-sapi/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="njc-wma-document-envelope-sapi-config" api="resource::780f3016-4f46-4007-9d97-89f2d1297bd8:njc-wma-document-envelope-sapi:1.0.0:raml:zip:njc-wma-document-envelope-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="njc-wma-document-envelope-sapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="njc-wma-document-envelope-sapi-config" />
		<error-handler ref="errorError_Handler" />
        
    </flow>
    <flow name="put:\envelope\(id):application\json:njc-wma-document-envelope-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="7b3c88a3-1754-4f12-be04-866167e80451" name="updateEnvelope"/>
		<error-handler ref="errorError_Handler"/>
    </flow>
    <flow name="post:\envelope:application\json:njc-wma-document-envelope-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="af875142-806d-47c0-a56f-aefa9e5b3bc0" name="createDocument"/>
		<error-handler ref="errorError_Handler"/>
    </flow>
</mule>
